<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="daou.member.MemberMapper">
    <select id="findMemberAndPosition" resultType="map">
        SELECT M.member_id
             , M.department_id
             , concat(M.name, ' ', P.name) name
             , M.profile_path
             , P.level
          FROM Member M
    INNER JOIN Position P ON M.position_id = P.position_id
         WHERE M.del_yn = 'N'
      ORDER BY P.level
    </select>

    <insert id="memberCreate" parameterType="daou.member.Member">
        INSERT INTO Member(member_id, department_id, position_id, name, reg_datetime, upt_datetime, del_yn, profile_path)
             VALUES (#{memberId}, #{departmentId}, #{positionId}, #{name}, #{regDatetime}, #{uptDatetime}, #{delYn}, #{profilePath})
    </insert>

    <update id="memberUpdate" parameterType="daou.member.Member">
        UPDATE Member
           SET name = #{name}

          <if test="positionId != null and positionId != ''.toString()">
            AND position_id = #{portionId}
          </if>
        WHERE member_id = #{memberId}
    </update>

    <delete id="memberDelete" parameterType="String">
        UPDATE Member
          SET del_yn = 'Y'
        WHERE department_id = #{departmentId} and member_id = #{memberId}
    </delete>

    <update id="memberDragAndDrop" parameterType="daou.member.dto.DragAndDropDTO">
        UPDATE Member
           SET department_id = #{nextDepartmentId}
         WHERE department_id = #{departmentId}
           AND member_id = #{memberId}
    </update>
</mapper>
